<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.18/datatables.min.css"/>
    <title>BPD Calls</title>
    <style>

    </style>
  </head>
  <body>

      <audio controls src="">

      </audio>

    <table class="table table-striped" id="mydatatable">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Time</th>
          <th scope="col">Duraction</th>
          <th scope="col">Type</th>
          <th scope="col">Color Code</th>
          <th scope="col">Slot</th>
          <th scope="col">Call Type</th>
          <th scope="col">Group</th>
          <th scope="col">Radio ID</th>
          <th scope="col">Source</th>
        </tr>
      </thead>
      <tbody>
          {% for call in calls %}
            <tr>
              <th scope="row">{{ call.date }}</th>
              <td>{{ call.time }}</td>
              <td>{{ call.duration }}</td>
              <td>{{ call.type }}</td>
              <td>{{ call.cc }}</td>
              <td>{{ call.slot }}</td>
              <td>{{ call.calltype }}</td>
              <td>{{ call.grp }}</td>
              <td>{{ call.rid }}</td>
              <td>
                <audio controls>
                  <source src="{{ call.src }}" type="audio/wav">
                </audio>
              </td>
            </tr>
          {% endfor %}
      </tbody>
    </table>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.18/datatables.min.js"></script>
    <script type="text/javascript">
      $(document).ready( function () {
          $('#mydatatable').DataTable();
      } );
    </script>
  </body>
</html>
